* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 900px;
}

.child {
    background-color: gray;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}